.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
.modal_container {
  background-color: whitesmoke;
  max-width: 70%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 80%;
  padding: 15px 15px;
  z-index: 10;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}
.modal_container::-webkit-scrollbar {
  display: none;
}
.header_block {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: sticky;
  top: 0;
}
.header_block > p {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid rgb(149, 161, 173);
  border-radius: 20px;
  transition: border 0.5s ease-in, transform 0.5s ease-in;
}
.header_block > p:hover {
  border: 1px solid rgb(13, 13, 14);
  border-radius: 20px;
  transform: scale(1);
}
.button_div_modal {
  width: 20%;
  background-color: white;
  border: none;
  color: #ff3c00;
  padding: 7px 10px;
  border: 1px solid #ff3c00;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.5s ease-in, transform 0.5s ease-in;
}
.button_div_modal:hover {
  background-color: #df481a;
  color: white;
}
.modal_title {
  font-weight: 500;
  text-wrap: balance;
}
.modal_content {
  margin-top: 6%;
  padding: 0 4rem;
}
.sessions_data > h3 {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.session_content {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.session_details {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.session_details > img {
  width: 15%;
}

.session_details > p {
  margin-top: 5px;
}
.sessions_data_internal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.sessions_data_internal > p:nth-child(1) {
  color: #ff0000;
  /* margin-top: 10px; */
  /* font-weight: 600; */
  /* font-size: larger; */
}
.modules {
  margin-top: -2%;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.version_data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  margin-bottom: 2px;
}

.version_data > p {
  text-wrap: balance;
  font-weight: 400;
  /* font-size: 15px; */
}
